* {
  margin: 0;
  padding: 0;
}

.marqueeWindow {
	height: 100px;
	width: 90%;
	margin: auto;
	position: relative;
	overflow-x: hidden;
	background-color: cyan;
}

.marqueeSlider {
	align-items: center;
    display: inline-flex;
    flex-direction: row;
	height: 100%;
	width: max-content;
	position: absolute;
}

.marqueeSlider.animation {
	animation: marqueeSliderMove 5s infinite linear;
}

@keyframes marqueeSliderMove {
	from {
		left: 0%;
	}
	to {
		left: -50%;
	}
}