* {
  margin: 0;
  padding: 0;
}

.marqueeWindow {
	height: 100px;
	width: 90%;
	margin: auto;
	display: flex;
	position: relative;
	overflow-x: hidden;
}

.marqueeContent {
	align-items: center;
    display: inline-flex;
    flex-direction: row;
	
	height: 100%;
	width: max-content;
}
